@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-welcome {
        @apply text-welcome-sm md:text-welcome-md lg:text-welcome-lg;
    }
    .text-display {
        @apply text-display-sm md:text-display-md lg:text-display-lg;
    }
    .text-headline {
        @apply text-headline-sm md:text-headline-md lg:text-headline-lg;
    }
    .text-title {
        @apply text-title-sm md:text-title-md lg:text-title-lg;
    }
    .text-label {
        @apply text-label-sm md:text-label-md lg:text-label-lg;
    }
    .text-body {
        @apply text-body-sm md:text-body-md lg:text-body-lg;
    }
    .btn {
        @apply cursor-pointer hover:opacity-hover;
    }
    .btn-primary {
        @apply btn rounded-button bg-gradient-to-b from-primary to-secondary px-12 py-1;
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 234, 239, 240; /* lighter */
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 20, 20, 20; /* slightly lighter dark */
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    -ms-overflow-style: none; /* Remove scrollbar in Internet Explorer 10+ */
    scrollbar-width: none; /* Remove scrollbar in Firefox */
}

html::-webkit-scrollbar {
    display: 'none'; /* Remove scrollbar in Safari and Chrome */
    width: 0; /* Remove scrollbar in Safari and Chrome */
}

@layer base {
    :root {
        --background: 20 14.3% 8%; /* lighter background */
        --foreground: 0 0% 95%;
        --card: 24 9.8% 14%; /* lighter card */
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 13%; /* lighter popover */
        --popover-foreground: 0 0% 95%;
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 19.9%; /* lighter secondary */
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 19%; /* lighter muted */
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 19.1%; /* lighter accent */
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 34.6%; /* lighter destructive */
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 19.9%; /* lighter border */
        --input: 240 3.7% 19.9%; /* lighter input */
        --ring: 142.4 71.8% 33.2%; /* lighter ring */
        --chart-1: 220 70% 54%;
        --chart-2: 160 60% 49%;
        --chart-3: 30 80% 59%;
        --chart-4: 280 65% 64%;
        --chart-5: 340 75% 59%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground bg-background;
    }
}
